@model FlowerShop.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<div>
    <div class="card shadow-sm mt-2 mx-3">
        <div class="card-body">
            <h4><i class="fa-solid fa-trash-can text-success"></i> Xóa khách hàng</h4>
        </div>
    </div>
    <div class="card mt-4 shadow-sm mx-3">
        <div class="card-body">
            <h3>Bạn có chắc chắn muốn xóa khách hàng này không?</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerAvatar)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerAvatar)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerEmail)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="d-flex align-items-center gap-3">
            <div>
                @Html.ActionLink("Trở về", "ContentKH", "", new {@class = "btn btn-primary"})
            </div>
            <div class="form-actions no-color">
                <input type="submit" value="Xóa khách hàng" class="btn btn-danger" />

            </div>
        </div>
            }
        </div>
    </div>
</div>