@model FlowerShop.Models.Flower

@{
    ViewBag.Title = "DeleteSP";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
    <div class="card shadow-sm mt-2 mx-3">
        <div class="card-body">
            <h4><i class="fa-solid fa-trash-can text-success"></i> Xóa sản phẩm</h4>
        </div>
    </div>
    <div class="card mt-4 shadow-sm mx-3">
        <div class="card-body">
            <h3>Bạn có chắc chắn muốn xóa cái này không?</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FlowerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlowerQuantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerQuantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlowerDiscount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerDiscount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlowerPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlowerPicture)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerPicture)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlowerDiscription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerDiscription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlowerStatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerStatus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlowerNew)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerNew)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FlowerDVT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlowerDVT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="d-flex align-items-center mt-3 gap-3">
            <div>
                @Html.ActionLink("Trở về", "ContentSP", "", new { @class = "btn btn-primary" })
            </div>
            <div class="form-actions no-color">
                <input type="submit" value="Xóa sản phẩm" class="btn btn-danger" /> <br />

            </div>
        </div>
            }
        </div>
    </div>
</div>